@font-face {
  font-family: 'Norse';
  src: url('../fonts/Norse-Bold.otf');
  font-weight: 800;
}

:root {
  /* fonts */
  --def-ff: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --norse-ff: 'Norse';
  /* clrs */
  --clr-white: #fff;
  ---clr-dark-white: #e2dcdc;
  ---clr-main-theme: rgb(58, 99, 58);
  /* margins */
  --left-indent: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: var(--def-ff);
  display: flex;
  justify-content: flex-start;
  min-height: 100vh;
}

.container {
  margin-left: 50px;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/back-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.left-side__logo {
  margin-top: 200px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: rgb(0, 0, 0, 40%);
  line-height: 1;
  padding: 20px 0 20px 0;
}

.logo__img {
  width: 100px;
  height: auto;
}

.logo__text {
  font-family: var(--norse-ff, --def-ff);
  color: var(--clr-white);
  font-size: 7rem;
}

.left-side__copyright {
  margin: auto 0 20px 0;
  color: var(---clr-dark-white);
  font-size: 0.8rem;
  opacity: 0.7;
}

.left-side__copyright a {
  color: inherit;
}

.right-side {
  flex: 2;
  background-color: var(---clr-dark-white);
}

.right-side__text {
  margin: 100px 0 50px var(--left-indent);
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 80%;
}

.form__fieldset {
  border: none;
  padding: var(--left-indent);
  background-color: var(--clr-white);
  box-shadow: 0 4px 7px -2px gray;
  margin-bottom: 30px;
}

.form__text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.form__rows {
  display: flex;
  flex-flow: column wrap;
  gap: 30px;
}

.form__row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.form__item {
  display: flex;
  flex-direction: column;
}

.form__item label {
  text-transform: uppercase;
  font-weight: 600;
}

.form input {
  width: 300px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 1rem;
  font-weight: 500;
}

.form input:focus {
  outline: 2px solid lightblue;
  border: none;
}

.form input:invalid {
  outline: 2px solid red;
  border: none;
}

.form__bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: var(--left-indent);
}

.form__bottom button {
  align-self: flex-start;
  border: none;
  background-color: var(---clr-main-theme);
  color: var(--clr-white);
  font-weight: 600;
  font-size: 1rem;
  padding: 15px 55px;
  border-radius: 5px;
  cursor: pointer;
}

.form__loginText {
  font-size: 1.1rem;
  font-weight: 600;
  padding-bottom: 100px;
}

.form__loginText a {
  color: var(---clr-main-theme);
  text-decoration: none;
}
